#customizable {
  background-image: url("/src/img/customizable-bg.png");
  width: 100%;
  min-height: 673px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #customizable .custom-header {
    display: flex;
    justify-content: center;
    padding: 64px; }
    #customizable .custom-header h2 {
      font-size: 26px;
      color: #FFF; }
      #customizable .custom-header h2:nth-child(2) {
        margin-left: 13px;
        padding: 0 3px;
        background-color: #4AC9F3; }
  #customizable .custom-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #customizable .custom-blocks .custom-item {
      background-image: url("/src/img/custom-bg.png");
      width: 215px;
      height: 222px;
      padding: 15px;
      margin-bottom: 15px;
      color: #FFFFFF; }
      #customizable .custom-blocks .custom-item h6 {
        min-height: 48px;
        padding: 9px 0;
        margin-bottom: 0;
        text-align: center; }
      #customizable .custom-blocks .custom-item p {
        position: relative;
        margin-bottom: 0;
        top: 30px; }
