@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px; }

#main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/Rectangle.png");
  width: 100%;
  height: 796px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #main-block .navbar {
    padding: 40px 0; }
    #main-block .navbar .navbar-brand .logo {
      width: 100px;
      height: auto; }
    #main-block .navbar .nav-item {
      padding: 9px 12.5px; }
      #main-block .navbar .nav-item a {
        color: #5D676F; }
      #main-block .navbar .nav-item a:hover {
        opacity: .8; }
      #main-block .navbar .nav-item.active {
        font-weight: 600; }
      #main-block .navbar .nav-item .try-it {
        display: flex;
        justify-content: space-between;
        width: 100px;
        padding: 5px 10px;
        border-radius: 22px;
        border: 1px solid #55CAE8; }
        #main-block .navbar .nav-item .try-it img {
          width: 15px;
          height: 15px;
          margin: auto 0; }
  #main-block .processes {
    display: flex; }
    #main-block .processes .description {
      width: 100%;
      max-width: 660px;
      padding-top: 41px;
      z-index: 1; }
      #main-block .processes .description h2 {
        font-size: 46px; }
        #main-block .processes .description h2:first-child {
          width: max-content;
          background: #7DD4EB;
          color: #FFF; }
        #main-block .processes .description h2:nth-child(2) {
          color: #000; }
        #main-block .processes .description h2:nth-child(3) {
          font-size: 20px;
          color: #000; }
      #main-block .processes .description .btn-block {
        display: flex; }
        #main-block .processes .description .btn-block p {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 190px;
          border-radius: 36px;
          font-size: 24px;
          padding: 16px; }
          #main-block .processes .description .btn-block p img {
            width: 18px;
            height: 18px; }
          #main-block .processes .description .btn-block p:first-child {
            margin-right: 30px;
            background: #E3E0DD;
            color: #4AC9F3; }
          #main-block .processes .description .btn-block p:nth-child(2) {
            background: #2E2B32;
            color: #FFF; }
          #main-block .processes .description .btn-block p:hover {
            opacity: .7;
            cursor: pointer; }
    #main-block .processes .photo {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0; }
      #main-block .processes .photo .main-img {
        width: 100%;
        max-width: 1055px; }
  #main-block .started-container {
    width: 100%;
    background: #CED5D8;
    padding: 22px;
    z-index: 2; }
    #main-block .started-container p {
      width: 100%;
      max-width: 870px;
      margin-bottom: 0;
      color: #2E2B32; }

#customizable {
  background-image: url("/src/img/customizable-bg.png");
  width: 100%;
  min-height: 673px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #customizable .custom-header {
    display: flex;
    justify-content: center;
    padding: 64px; }
    #customizable .custom-header h2 {
      font-size: 26px;
      color: #FFF; }
      #customizable .custom-header h2:nth-child(2) {
        margin-left: 13px;
        padding: 0 3px;
        background-color: #4AC9F3; }
  #customizable .custom-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #customizable .custom-blocks .custom-item {
      background-image: url("/src/img/custom-bg.png");
      width: 215px;
      height: 222px;
      padding: 15px;
      margin-bottom: 15px;
      color: #FFFFFF; }
      #customizable .custom-blocks .custom-item h6 {
        min-height: 48px;
        padding: 9px 0;
        margin-bottom: 0;
        text-align: center; }
      #customizable .custom-blocks .custom-item p {
        position: relative;
        margin-bottom: 0;
        top: 30px; }

#workflow-process .workflows-header {
  margin: 64px auto 37px auto; }
  #workflow-process .workflows-header h2 {
    text-align: center;
    font-size: 26px;
    line-height: 39px; }
    #workflow-process .workflows-header h2:nth-child(2) {
      margin: auto;
      width: max-content;
      padding: 0 3px;
      background: #4AC9F3;
      color: #FFF; }

#workflow-process .workflows-content {
  display: flex;
  justify-content: space-around; }
  #workflow-process .workflows-content .img {
    position: relative; }
    #workflow-process .workflows-content .img .ellipse {
      position: absolute;
      top: 20px;
      right: -71px; }
  #workflow-process .workflows-content .descr {
    display: flex;
    align-items: center; }
    #workflow-process .workflows-content .descr p {
      position: relative;
      left: -75px;
      width: 100%;
      max-width: 440px; }

#workflow-zones .zones {
  display: flex;
  justify-content: space-around;
  min-height: 360px; }
  #workflow-zones .zones .img {
    position: relative; }
    #workflow-zones .zones .img .map {
      position: relative;
      z-index: 0;
      left: 0;
      top: 48px; }
    #workflow-zones .zones .img .marker {
      position: absolute;
      z-index: 1;
      left: 150px;
      top: -12px; }
    #workflow-zones .zones .img .ellipse {
      position: absolute;
      z-index: -1;
      top: 35px;
      left: -100px; }
  #workflow-zones .zones .descr {
    display: flex;
    justify-content: center;
    align-items: center; }
    #workflow-zones .zones .descr p {
      position: relative;
      left: 90px;
      top: 30px;
      width: 100%;
      max-width: 420px; }

#workflow-tracking-app .tracking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 360px;
  padding-bottom: 81px; }
  #workflow-tracking-app .tracking .app-img {
    position: relative;
    display: flex;
    margin-left: auto;
    left: 105px; }
    #workflow-tracking-app .tracking .app-img .ellipse {
      position: relative; }
    #workflow-tracking-app .tracking .app-img .device-1 {
      position: absolute;
      top: 77px;
      left: -125px;
      z-index: 2; }
    #workflow-tracking-app .tracking .app-img .device-2 {
      position: absolute;
      left: -40px;
      z-index: 1; }
    #workflow-tracking-app .tracking .app-img .device-3 {
      position: absolute;
      left: 10px;
      top: 25px;
      z-index: 0; }
  #workflow-tracking-app .tracking .description {
    position: relative;
    top: 15px;
    left: -20px;
    width: 100%;
    max-width: 455px;
    margin: auto; }
    #workflow-tracking-app .tracking .description span {
      text-transform: uppercase;
      font-weight: 600; }

#smart-labels {
  width: 100%;
  min-height: 235px;
  background-image: url("../img/labels-bg.png");
  background-position: center; }
  #smart-labels .labels-content {
    position: relative;
    display: flex;
    justify-content: space-between; }
    #smart-labels .labels-content .labels-desc {
      width: 100%;
      max-width: 550px;
      padding-top: 68px; }
      #smart-labels .labels-content .labels-desc h2 {
        width: 100%;
        font-size: 30px;
        margin-bottom: 17px;
        color: #FFF; }
      #smart-labels .labels-content .labels-desc p {
        width: 100%;
        max-width: 510px;
        color: #FFF; }
    #smart-labels .labels-content img {
      position: absolute;
      top: 0;
      right: 0; }

#how-it-works {
  padding: 64px 0 80px 0; }
  #how-it-works h3 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 48px; }
  #how-it-works .works-content {
    display: flex;
    justify-content: center; }
    #how-it-works .works-content .img-block {
      position: relative; }
      #how-it-works .works-content .img-block .ellipse {
        position: absolute;
        top: 0;
        right: 285px; }
      #how-it-works .works-content .img-block p {
        width: 445px;
        height: 434px;
        margin-right: 30px;
        background: #C4C4C4; }
    #how-it-works .works-content .works-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      max-width: 635px; }
      #how-it-works .works-content .works-desc p {
        font-weight: 400; }

#demo {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 512px;
  overflow: hidden;
  background-image: url("/src/img/demo-bg.png"); }
  #demo .demo-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #demo .demo-content h3 {
      display: flex;
      width: 100%;
      max-width: 435px;
      font-size: 26px;
      font-weight: normal;
      line-height: 39px;
      font-family: Poppins;
      color: #FFF;
      text-transform: unset; }
      #demo .demo-content h3 span {
        font-family: Oswald;
        font-weight: 700;
        color: #55CAE8;
        margin-right: 50px; }
  #demo img {
    position: absolute;
    top: 0;
    right: -135px; }

#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0; }
  #contact-us .contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1229px;
    min-height: 621px;
    background-image: url("/src/img/contact-ellipse.png"); }
    #contact-us .contact-content h3 {
      margin: 40px auto; }
    #contact-us .contact-content form {
      width: 100%;
      max-width: 540px;
      margin: 0 auto; }
      #contact-us .contact-content form .form-group label {
        font-family: Poppins;
        color: #2E2B32; }
      #contact-us .contact-content form .form-group input {
        padding: 15px;
        height: 68px;
        background: #FAFAFA;
        border: 1px solid #504C54; }
      #contact-us .contact-content form .form-group .btn-block {
        display: flex;
        justify-content: space-between;
        padding-top: 15px; }
        #contact-us .contact-content form .form-group .btn-block p {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 190px;
          border-radius: 36px;
          font-size: 24px;
          text-transform: uppercase;
          padding: 16px;
          background: #2E2B32;
          color: #FFF; }
          #contact-us .contact-content form .form-group .btn-block p img {
            width: 18px;
            height: 18px; }
          #contact-us .contact-content form .form-group .btn-block p:hover {
            opacity: .7;
            cursor: pointer; }
        #contact-us .contact-content form .form-group .btn-block a {
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          color: #4AC9F3;
          text-decoration: none; }
          #contact-us .contact-content form .form-group .btn-block a span:nth-child(2) {
            text-decoration: underline; }

footer.page-footer {
  width: 100%;
  min-height: 215px;
  padding: 55px 20px 48px 20px;
  background-image: url("/src/img/footer-bg.png"); }
  footer.page-footer .footer-link {
    display: flex;
    justify-content: space-between; }
    footer.page-footer .footer-link p {
      margin-bottom: 0; }
      footer.page-footer .footer-link p a {
        text-decoration: none;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        color: #FFF; }
  footer.page-footer hr {
    background: #757378; }
  footer.page-footer .footer-copyright {
    display: flex;
    flex-direction: column; }
    footer.page-footer .footer-copyright a {
      text-decoration: none;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 500;
      color: #757378; }
