@media (max-width: 992px) {
  #main-block .processes .description {
    padding-top: 0; }
    #main-block .processes .description h2 {
      font-size: 24px; }
    #main-block .processes .description .btn-block p {
      width: 150px;
      font-size: 16px;
      padding: 8px 16px; }
  #customizable .custom-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #workflow-process .workflows-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #workflow-process .workflows-content .descr p {
      left: 0;
      margin-top: 20px; }
    #workflow-process .workflows-content .img:first-child {
      max-width: 100%; }
    #workflow-process .workflows-content .img:nth-child(2) {
      right: 0; }
  #workflow-zones .zones {
    flex-direction: column-reverse;
    align-items: center; }
    #workflow-zones .zones .descr p {
      left: 0;
      margin-top: 20px; }
  #workflow-tracking-app .tracking {
    flex-direction: column;
    align-items: center; }
    #workflow-tracking-app .tracking .app-img {
      margin: 30px auto;
      left: 60px; }
  #smart-labels .labels-content {
    flex-direction: column; }
    #smart-labels .labels-content .labels-desc {
      margin: auto; }
  #how-it-works .works-content {
    flex-direction: column;
    align-items: center; }
    #how-it-works .works-content .img-block p {
      margin-right: 0; }
  #demo {
    flex-direction: column; }
    #demo .demo-content {
      margin: auto; }
    #demo .demo-img {
      margin: auto;
      min-height: 280px; }
      #demo .demo-img img {
        max-width: 100%; }
  .page-footer .d-flex {
    display: flex;
    flex-direction: column; }
    .page-footer .d-flex > div {
      text-align: center !important; }
    .page-footer .d-flex .navbar-brand {
      margin-right: 0; }
    .page-footer .d-flex .footer-link {
      display: flex;
      flex-direction: column; }
      .page-footer .d-flex .footer-link p {
        margin: 5px auto; }
  .page-footer .footer-copyright {
    align-items: center; } }

@media (max-width: 768px) {
  #main-block .processes .photo {
    bottom: 150px; } }

@media (max-width: 480px) {
  #main-block .processes .description .btn-block {
    flex-direction: column;
    align-items: center; }
    #main-block .processes .description .btn-block p {
      width: 80%; }
      #main-block .processes .description .btn-block p:first-child {
        margin-right: 0; }
  #customizable .custom-header {
    padding: 20px; }
    #customizable .custom-header h2:nth-child(2) {
      margin-left: 0; }
  #customizable .custom-blocks {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #workflow-process .workflows-header {
    margin: 0;
    padding: 20px; }
  #workflow-process .workflows-content .img img {
    max-width: 100%; }
  #workflow-process .workflows-content .img .ellipse {
    right: 0; }
  #workflow-zones .zones .descr p {
    left: 0;
    margin-top: 20px; }
  #workflow-zones .zones .img .map {
    width: 300px;
    height: auto; }
  #workflow-zones .zones .img .marker {
    width: 167px;
    height: auto;
    left: 106px;
    top: 0px; }
  #smart-labels .labels-content .labels-desc {
    padding: 20px; }
  #smart-labels .labels-content .label-image {
    min-height: 100px; }
  #workflow-tracking-app .tracking {
    padding-bottom: 20px; }
    #workflow-tracking-app .tracking .app-img {
      margin: 30px auto;
      left: 0;
      max-width: 100%; }
      #workflow-tracking-app .tracking .app-img .device-1 {
        width: 73px;
        height: auto;
        left: -10px; }
      #workflow-tracking-app .tracking .app-img .device-2 {
        width: 106px;
        height: auto;
        left: 55px;
        top: 15px; }
      #workflow-tracking-app .tracking .app-img .device-3 {
        width: 212px;
        height: auto;
        left: 75px;
        top: 35px; }
      #workflow-tracking-app .tracking .app-img .ellipse {
        right: 30px; }
    #workflow-tracking-app .tracking .description {
      max-width: 100%;
      left: 0; }
  #how-it-works .works-content .img-block p {
    width: 250px;
    height: 250px; }
  #demo .demo-content {
    margin: auto; }
    #demo .demo-content h3 {
      font-size: 22px; }
  #contact-us {
    padding: 20px; }
    #contact-us .contact-content .form-group .btn-block {
      display: flex;
      flex-direction: column; }
      #contact-us .contact-content .form-group .btn-block p {
        margin: auto;
        width: 150px;
        height: 40px; }
      #contact-us .contact-content .form-group .btn-block a {
        margin: auto; }
  .page-footer .footer-copyright {
    align-items: flex-start; } }
