#workflow-process .workflows-header {
  margin: 64px auto 37px auto; }
  #workflow-process .workflows-header h2 {
    text-align: center;
    font-size: 26px;
    line-height: 39px; }
    #workflow-process .workflows-header h2:nth-child(2) {
      margin: auto;
      width: max-content;
      max-width: 100%;
      padding: 0 3px;
      background: #4AC9F3;
      color: #FFF; }

#workflow-process .workflows-content {
  display: flex;
  justify-content: space-around; }
  #workflow-process .workflows-content .img {
    position: relative; }
    #workflow-process .workflows-content .img .ellipse {
      position: absolute;
      top: 20px;
      right: -71px; }
  #workflow-process .workflows-content .descr {
    display: flex;
    align-items: center; }
    #workflow-process .workflows-content .descr p {
      position: relative;
      left: -75px;
      width: 100%;
      max-width: 440px; }
