#workflow-zones .zones {
  display: flex;
  justify-content: space-around;
  min-height: 360px; }
  #workflow-zones .zones .img {
    position: relative; }
    #workflow-zones .zones .img .map {
      position: relative;
      z-index: 0;
      left: 0;
      top: 48px; }
    #workflow-zones .zones .img .marker {
      position: absolute;
      z-index: 1;
      left: 150px;
      top: -12px; }
    #workflow-zones .zones .img .ellipse {
      position: absolute;
      z-index: -1;
      top: 35px;
      left: -100px; }
  #workflow-zones .zones .descr {
    display: flex;
    justify-content: center;
    align-items: center; }
    #workflow-zones .zones .descr p {
      position: relative;
      left: 90px;
      top: 30px;
      width: 100%;
      max-width: 420px; }
