#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  

  .contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1229px;
    min-height: 621px;
    background-image: url('/src/img/contact-ellipse.png');

    h3 {
      margin: 40px auto;
    }

    form {
      width: 100%;
      max-width: 540px;
      margin: 0 auto;

      .form-group {
        label {
          font-family: Poppins;
          color: #2E2B32;
        }

        input {
          padding: 15px;
          height: 68px;
          background: #FAFAFA;
          border: 1px solid #504C54;
        }

        .btn-block {
          display: flex;
          justify-content: space-between;
          padding-top: 15px;

          p {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 190px;
            border-radius: 36px;
            font-size: 24px;
            text-transform: uppercase;
            padding: 16px;
            background: #2E2B32;
            color: #FFF;
  
            img {
              width: 18px;
              height: 18px;
            }
  
            &:hover {
              opacity: .7;
              cursor: pointer;
            }
          }

          a {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            color: #4AC9F3;
            text-decoration: none;

            span {
              &:nth-child(2) {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}