#how-it-works {
  padding: 64px 20px 80px 20px;

  h3 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 48px;
  }

  .works-content {
    display: flex;
    justify-content: center;

    .img-block {
      position: relative;

      .ellipse {
        position: absolute;
        top: 0;
        right: 285px;
      }

      p {
        width: 445px;
        height: 434px;
        margin-right: 30px;
        background: #C4C4C4;
      }
    }

    .works-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      max-width: 635px;
      
      p {
        font-weight: 400;
      }
    }
  }
}