@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./customizable.scss";
@import "./workflow-process.scss";
@import "./workflow-zones.scss";
@import "./workflow-tracking.scss";
@import "./smart-labels.scss";
@import "./demo.scss";
@import "./how-it-works.scss";
@import "./contact-us.scss";
@import "./footer.scss";
@import "./responsive.scss";

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
}

#main-block {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../img/Rectangle.png");
  width: 100%;
  min-height: 796px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .navbar {
    padding: 40px 0;
    z-index: 10;
    .navbar-brand {
  
      .logo {
        width: 100px;
        height: auto;
      }
    }
  
    .nav-item {
      padding: 9px 12.5px;
      a {
        color: #5D676F;
      }
  
      a:hover {
        opacity: .8;
      }
  
      &.active {
        font-weight: 600;
      }
  
      .try-it {
        display: flex;
        justify-content: space-between;
        width: 100px;
        padding: 5px 10px;
        border-radius: 22px;
        border: 1px solid #55CAE8;
  
        img {
          width: 15px;
          height: 15px;
          margin: auto 0;
        }
      }
    }
  }  

  .processes {
    display: flex;

    .description {
      width: 100%;
      max-width: 660px;
      padding-top: 41px;
      z-index: 1;

      h2 {
        font-size: 46px;
        
        &:first-child {
          width: max-content;
          background: #7DD4EB;
          color: #FFF;
        }

        &:nth-child(2) {
          color: #000;
        }

        &:nth-child(3) {
          font-size: 20px;
          color: #000;
        }
      }

      .btn-block {
        display: flex;

        p {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 190px;
          border-radius: 36px;
          font-size: 24px;
          padding: 16px;

          img {
            width: 18px;
            height: 18px;
          }

          &:first-child {
            margin-right: 30px;
            background: #E3E0DD;
            color: #4AC9F3;
          }

          &:nth-child(2) {
            background: #2E2B32;
            color: #FFF;
          }

          &:hover {
            opacity: .7;
            cursor: pointer;
          }
        }
      }
    }

    .photo {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;

      .main-img {
        width: 100%;
        max-width: 1055px;
      }
    }
  }

  .started-container {
    width: 100%;
    background: #CED5D8;
    margin-top: auto;
    padding: 22px;
    z-index: 2;

    p {
      width: 100%;
      max-width: 870px;
      color: #2E2B32;
    }
  }
}
