#workflow-zones {

  .zones {
    display: flex;
    justify-content: space-around;
    min-height: 360px;
    
    .img {
      position: relative;

      .map {
        position: relative;
        z-index: 0;
        left: 0;
        top: 48px;
      }

      .marker {
        position: absolute;
        z-index: 1;
        left: 150px;
        top: -12px;
      }

      .ellipse {
        position: absolute;
        z-index: -1;
        top: 35px;
        left: -100px;
      }
    }

    .descr {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        position: relative;
        left: 90px;
        top: 30px;
        width: 100%;
        max-width: 420px;
      }
    }
  }
}