#workflow-tracking-app {

  .tracking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 360px;
    padding-bottom: 81px;

    .app-img {
      position: relative;
      display: flex;
      margin-left: auto;
      left: 105px;

      .ellipse {
        position: relative;
      }

      .device{
        &-1 {
          position: absolute;
          top: 77px;
          left: -125px;
          z-index: 2;
        }

        &-2 {
          position: absolute;
          left: -40px;
          z-index: 1;
        }

        &-3 {
          position: absolute;
          left: 10px;
          top: 25px;
          z-index: 0;
        }
      }
    }

    .description {
      position: relative;
      top: 15px;
      left: -20px;
      width: 100%;
      max-width: 455px;
      margin: auto;

      span {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}